<div class="login-container">
    <div class="login-card">
        <h1>Skills Swap</h1>
        <p class="subtitle">Learn. Teach. Grow Together.</p>
        <form>
            <div class="form-data">
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="Enter your email">
            </div>
            <div class="form-data">
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Enter your password">
            </div>
            <button type="submit">Login</button>
        </form>
        <p class="register-text">Don't have an account?
            <a routerLink="/register">Create an account</a>
        </p>
    </div>
</div>