<div class="register-container">
    <div class="register-card">
        <h1>Join Skills Swap</h1>
        <p class="subtitle">Start sharing your knowledge today.</p>
        <form>
            <div class="form-data fullName">
                <div>
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" placeholder="Enter your first name">
                </div>
                <div>
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" placeholder="Enter your last name">
                </div>
            </div>
            <div class="form-data">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Enter your email">
            </div>
            <div class="form-data">
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Enter your password">
            </div>
            <div class="form-data">
                <label for="confirm-password">Confirm Password</label>
                <input id="confirm-password" type="password" placeholder="Confirm your password">
            </div>
            <button type="submit">Create an account</button>
        </form>
        <p class="login-text">Already have an account?
            <a routerLink="/login">Login</a>
        </p>
    </div>
</div>