<section class="home">
    <div class="hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Start swaping skills with others</h1>
                <p>Gain new skills, share your knowledge with the community, and begin your learning journey by swaping
                    skills with people like you.</p>
                <a routerLink="/register">Register Now</a>
            </div>
            <img src="/skillswap.png" alt="Skill Swap" class="hero-image" />
        </div>
    </div>

    <div class="features">
        <div class="feature-card">
            <h3>Meaningful Skill Swap</h3>
            <p>Show your skills and learn new ones from other people.</p>
        </div>

        <div class="feature-card">
            <h3>Continuous Growth</h3>
            <p>Be part of a community focused on learning and personal development.</p>
        </div>
    </div>
</section>