<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <a routerLink="/" class="footer-brand-link">
        <img src="/logo.png" alt="Logo" class="brand-logo" />
        <span class="brand-text">Skill Swap</span>
      </a>
      <p>Learn. Teach. Grow Together.</p>
    </div>

    <div class="footer-links">
      <a routerLink="/home" class="footer-link">Home</a>
      <a routerLink="/explore" class="footer-link">Explore</a>
    </div>

    <div class="footer-social">
      <a href="https://github.com/AhmedAlfaid123/Skills-Swap" class="social-link">
        <iconify-icon icon="mdi:github"></iconify-icon>
      </a>
      <a href="#" class="social-link">
        <iconify-icon icon="mdi:linkedin"></iconify-icon>
      </a>
    </div>
  </div>

  <div class="footer-bottom">
    <span class="footer-copyright">© 2026 Skill Swap.</span>
  </div>
</footer>